# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Jupyter
* Scala
* R
* Git
* RStudio IDE

#### Some of the popular languages that Data Scientists use are
    1.SQL
    2.Python
    3.JavaScript
    4.R
    5.JAVA
    6.Scala
    7.C/C++

### Some of the commonly used libraries used by Data Scientists include:
1. SciPy
2. NumPy
3. Pandas
4. TensorFlow
5. Plotly
6. Ggplot

|Data Science Tools|
------------------
|RStudio|
|RapidMiner|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335

## Author
Prajnamita Lodh